en_US-lessac-high.onnx
en_US-lessac-high.onnx
en_US-lessac-high.onnx.json
Python_3_11/kokoro-v1.0.onnx
Python_3_11/voices-v1.0.bin
Ollama_ESP32_Hardware_Communication_Projects/ollama_wifi_tool_whisper_kokoro_web_server_comm_esp32_tool/voices-v1.0.bin
Ollama_ESP32_Hardware_Communication_Projects/ollama_wifi_tool_whisper_kokoro_web_server_comm_esp32_tool/kokoro-v1.0.onnx
